
[submodule "ChessClock-SDL/ThirdParty/SDL"]
	path = ChessClock-SDL/ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ChessClock-SDL/ThirdParty/freetype-gl"]
	path = ChessClock-SDL/ThirdParty/freetype-gl
	url = https://github.com/rougier/freetype-gl.git
[submodule "ChessClock-SDL/ThirdParty/glfw"]
	path = ChessClock-SDL/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ChessClock-SDL/ThirdParty/scalable-font2"]
	path = ChessClock-SDL/ThirdParty/scalable-font2
	url = git@gitlab.com:bztsrc/scalable-font2.git
[submodule "ChessClock-SDL/ThirdParty/json"]
	path = ChessClock-SDL/ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "ChessClock-SDL/ThirdParty/crossguid"]
	path = ChessClock-SDL/ThirdParty/crossguid
	url = https://github.com/graeme-hill/crossguid.git
[submodule "ChessClock-SDL/ThirdParty/nameof"]
	path = ChessClock-SDL/ThirdParty/nameof
	url = https://github.com/Neargye/nameof.git
[submodule "ChessClock-SDL/ThirdParty/freetype"]
	path = ChessClock-SDL/ThirdParty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "ChessClock-SDL/ThirdParty/SDL_ttf"]
	path = ChessClock-SDL/ThirdParty/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "ChessClock-SDL/ThirdParty/imgui"]
	path = ChessClock-SDL/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
