
[submodule "ChessClock-SDL/ThirdParty/SDL"]
	path = Gambit/ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ChessClock-SDL/ThirdParty/freetype-gl"]
	path = ChessClock-SDL/ThirdParty/freetype-gl
	url = https://github.com/rougier/freetype-gl.git
[submodule "ChessClock-SDL/ThirdParty/glfw"]
	path = ChessClock-SDL/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ChessClock-SDL/ThirdParty/json"]
	path = Gambit/ThirdParty/json
	url = https://github.com/cschladetsch/json.git
[submodule "ChessClock-SDL/ThirdParty/crossguid"]
	path = Gambit/ThirdParty/crossguid
	url = https://github.com/cschladetsch/crossguid.git
[submodule "ChessClock-SDL/ThirdParty/nameof"]
	path = Gambit/ThirdParty/nameof
	url = https://github.com/Neargye/nameof.git
[submodule "ChessClock-SDL/ThirdParty/freetype"]
	path = ChessClock-SDL/ThirdParty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "ChessClock-SDL/ThirdParty/SDL_ttf"]
	path = Gambit/ThirdParty/SDL_ttf
	url = https://github.com/cschladetsch/SDL_ttf.git
[submodule "ChessClock-SDL/ThirdParty/harfbuzz"]
	path = Gambit/ThirdParty/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "ChessClock-SDL/ThirdParty/freetype2"]
	path = Gambit/ThirdParty/freetype2
	url = https://github.com/aseprite/freetype2.git
[submodule "ChessClock-SDL/ThirdParty/CppEvents"]
	path = Gambit/ThirdParty/CppEvents
	url = https://github.com/cschladetsch/CppEvents.git
